<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>update ticket</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h1>Edit Tickets Information</h1>
<div th:replace="fragment/general.html::nav"></div>
<form th:action="@{/ticket}" method="post">
Ticket ID: <span th:text="${ticket.ID}" id="ID" th:content="${ticket.ID}"> </span><br/>
Issue title: <input type = "text" name = "title" th:value="${ticket.title}" id="title"><br/>
<fieldset>
<legend>Programming language: </legend>
C#<input type="checkbox" name = "language" value = "C#" ><br/>
Java<input type="checkbox" name = "language" value = "Java"><br/>
C++<input type="checkbox" name = "language" value = "C++"><br/>
Python<input type="checkbox" name = "language" value = "Python"><br/>
JavaScript<input type="checkbox" name = "language" value = "JavaScript"><br/>
</fieldset>
<fieldset>
<legend>Description</legend>
<textarea name="description" rows="20" cols="50" th:text="${ticket.description}" id="des"></textarea>
</fieldset>
<input type="submit" value="update" id="update">
 </form>
 <p id="msg" ></p>
</body>
<script th:src="@{/update.js}"></script>
</html>